header{
    /*text-align: right;*/
    text-align: right;
}


#apps{
    width: 25px;
    margin-left: 10px;
    vertical-align: middle;
}

#profile{
    width: 40px;
    border-radius: 50px;
    margin-left: 10px;
    vertical-align: middle;
}

.link-header{
    color: black;
    margin-left: 10px;
    vertical-align: middle;
    /*margin: 0px 10px;*/
    /*margin: 0px 0px 0px 10px; */
}

.link-header:link{ /* pseudoclases */
    text-decoration: none;
}

.link-header:hover{
    text-decoration: underline;
}