body{
    font-family: 'Roboto', sans-serif;
}

header{
    /*text-align: right;*/
    text-align: right;
    padding: 10px 25px;
}

main{
    padding: 100px;
    text-align: center;
}

#logo{
    margin-bottom: 20px;
}

#search{
    margin-bottom: 20px;
}

#search input{
    width: 50%;
    border-radius: 25px;
    padding: 15px;/*En todos los lados*/
    font-size: 16px;
    border: 1px solid #eee;
}

#apps{
    width: 25px;
    margin-left: 10px;
    vertical-align: middle;
}

#profile{
    width: 40px;
    border-radius: 50px;
    margin-left: 10px;
    vertical-align: middle;
}

.link-header{
    color: black;
    margin-left: 10px;
    vertical-align: middle;
    /*margin: 0px 10px;*/
    /*margin: 0px 0px 0px 10px; */
}

.link-header:link{ /* pseudoclases */
    text-decoration: none;
}

.link-header:hover{
    text-decoration: underline;
}